services:
  db:
    image: postgres:16
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: user
      POSTGRES_DB: weatherstations
      POSTGRES_PASSWORD: example
    ports: 
      - 5432:5432
    # ports opened for local development only. todo: close these ports later when fully containerized. 

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
volumes:
  db_data:
